
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body * {
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background: #0B0C10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esquerdo{ 
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-esquerdo > h1 {
    font-size: 3vw;
    color:  #C5C6C7;
}

.imagem-login{
    width: 35vw;
}

.login-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: 1F2833;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.login-formulario > h1 {
    color: #66FCF1;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #dbdbdb;
    color: #45A29E;
    font-size: 12pt;
    box-shadow: 0px 10px 40px black;
    outline: none;
    box-sizing: border-box;
}

.text-field > label {
    color:aliceblue;
    margin-bottom: 1opx;
}

.text-field > input::placeholder {
    color: #45A29E;
}

.botao-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
    background: turquoise;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(15, 61, 42);
}

#message {
  margin-top: 15px;
  font-size: 14px;
}


@media only screen and (max-width: 950px){
    .login-formulario{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .login-esquerdo > h1 {
        display: none;
    }
    .login-esquerdo{
        width: 100%;
        height: auto;
    }
        .login-direito{
        width: 100%;
        height: auto;
    }

    .imagem-login{
        width: 50vw;
    }

    .login-formulario{
        width: 90%;
    }
}